page-profile {
    ion-header {
        background: transparent !important;
        border-bottom: 0 !important;
        .close {
            background-color: transparent;
            color: white;
            position: absolute;
            right: 5px;
            font-size: 17px;
            font-weight: 800;
            border: 0;
        }


    }

    .header-ios .toolbar-ios:last-child .toolbar-background-ios {
        border-width: 0 !important;
    }

    ion-content {
        .scroll-content {
            margin-top: 0 !important;
        }
        .name-phone-container {   
            background-image: url("../assets/imgs/profile-name-bg.png");
            background-size: cover;
        }

        .row {
            padding: 0;
        }

        .row.name {
            min-height: 20vh;
        }

        .row.phone {
            min-height: 50px;
            background-color: rgba(47, 107, 102, 0.51);
            color: white;

            h3 {
                margin: 2vh 0 2vh;
                color: white !important;
                font-size: 0.8em;

                .modify-phone-input {
                    width: 100%;
                    padding: 5px;
                    display: block;
                    font-size: 18px;
                    height: auto;
                    background: none;
                    color: white;
                    border-bottom: 1px solid white;
                    text-align: center;
                }

                input::placeholder {
                    color: #fff;
                }
            }

            .button-full {
                margin: 0 !important;
            }

            .edit-button {
                position: absolute;
                right: 0;
                color: white;
                background: transparent;
                font-size: 0.8em;
                top: 0;
                padding: 5px;
            }
        }

        .row.actions {
            margin-top: 4.1vh;
            .button.button-block, .button.button-full {
                margin: 0;
            }

            .col {
                padding: 0;
            }

            a.button {
                border-bottom: 2px solid silver !important;
                font-weight: 300;
            }

            a.button:first-child {
                border-top: 2px solid silver;
            }
        }

        .phone-number a {
            color: white !important;
            outline: 0;
            text-decoration: none;
        }


        .header {
            h2 {
                font-family: Handlee;
                margin-top: 4vh;
                color: white !important;
                margin-bottom: 10px;
                font-size: 30px;
            }
        }
    }
}