<ion-header>
    <ion-navbar hideBackButton>
        <img start class="logo" src="assets/imgs/Rover_Animate_300px.gif">

        <button ion-button icon-start class="back-button button-darkgreen" (click)="popPage()">
            <ion-icon class="back-button-icon" name="md-arrow-back"></ion-icon>
            Return
        </button>

        <ion-buttons end>
            <button ion-fab mini (click)="openMenu()">
            <ion-icon name="ios-menu-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
    <ion-card
        class="item-bg-img" 
        [style.background-image]="getBackgroundImage(venue.pictures[0])">
        <div class="item-overlay" [ngClass]="venue.style"></div>
        <div class="title item-text">
            <h2>{{venue.title}}</h2>
            <p class="description">{{venue.description}}</p>
        </div>
    </ion-card>
    <div class="padding-5">
        <div class="row">
            <div class="col col-center">
                <span *ngFor="let tag of venue.tags" class="badge badge-tag badge-dark">{{tag}}</span>
                <span class="like-button">
                    <ion-icon name="ios-heart-outline"></ion-icon>
                </span>
            </div>
        </div>
        <div class="row special-div" *ngIf="venue.specials && venue.specials.length">
            <div class="col col-center">
                <h3>Specials</h3>
                <ul class="detail-ul">
                    <li *ngFor="let special of venue.specials" class="">{{special}}</li>
                </ul>
            </div>
        </div>
        <div class="row reward-div">
            <div class="col col-center">
                <h3>Rewards</h3>
                <ul class="detail-ul">
                    <li class="reward-text" *ngFor="let reward of venue.campaigns" [hidden]="!(reward.active && reward.display.length)">{{reward.display}}</li>
                </ul>
            </div>
        </div>
        <div class="row paybutton-div">
            <div class="col col-center">
                <button class="button button-block button-energized">Pay & Use Rewards</button>
            </div>
        </div>
    </div>
</ion-content>